<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>afg_manager</display-name>
  <servlet>
  	<servlet-name>afg_authentification</servlet-name>
  	<servlet-class>afg_authentification.afg_authentification</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>afg_authentification</servlet-name>
  	<url-pattern>/afg_manager/afg_authentification</url-pattern>
  </servlet-mapping>
</web-app>